$color-main: #ad2cbf;
$color-main-light: #ebbff0;
$color-main-dark: #7c1f89;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #d9d9d9;

$color-success: #8ac926;
$color-danger: #ffca3a;
$color-error: #ff595e;

$color-main-active: #872395;
$color-success-active: #77ad21;
$color-danger-active: #ffbe0c;
$color-error-active: #ff262d;

$color-shadow: rgba(0, 0, 0, 0.25);
