.content {
  .summary-text {
    margin-top: 36px;
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .button-container {
    bottom: 5%;
    left: 5%;
    width: 90%;
    position: fixed;
    z-index: 1;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
