@import "src/app/styles/colors.scss";

.content {
  .summary-text {
    margin-top: 36px;
    text-align: center;
  }

  .summary-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-around;

    .summary {
      margin-top: 36px;
      max-width: 512px;
      width: 512px;
      min-height: 512px;
      border: 4px solid $color-main;
      border-radius: 4px;
      background-color: $color-white;
      padding: 48px;

      .participant {
        border-top: 4px solid $color-main;
        padding: 16px;
        display: flex;

        .text {
          color: $color-main;
        }

        .username {
          width: 75%;
        }

        .points {
          width: 25%;
        }
      }
    }
  }

  .button-container {
    bottom: 36px;
    right: 36px;
    position: fixed;
    z-index: 1;
  }
}

@media only screen and (max-width: 540px) {
  .summary {
    width: 100vw;
    border-radius: 0px;
  }

  .button-container {
    bottom: 36px;
    right: 50vw !important;
    transform: translateX(50%);
  }
}
