<div class="content">
  <div class="story">
    <div class="timer-wrapper">
      <app-timer
        [started]="timerStarted"
        [type]="timerType"
        (tick)="checkTime($event)"
      ></app-timer>
    </div>
    <div class="card-wrapper">
      <app-card size="large" color="inverted" class="card">
        {{ story }}
      </app-card>
    </div>
  </div>
  <div class="submission">
    <div class="submission-wrapper">
      <div class="submission-container">
        <app-textfield
          class="textfield"
          size="large"
          [color]="textareaColor"
          [(value)]="sentence"
          (keyup.enter)="submitSentence()"
        ></app-textfield>
        <div class="button-wrapper">
          <app-button
            size="mini"
            color="success"
            (click)="submitSentence()"
            mobile="full"
          >
            <app-icon name="arrow-right" color="white" class="icon"></app-icon>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
