@import "src/app/styles/colors.scss";

.content {
  .story {
    height: calc(100vh - 352px);
    background-color: $color-white;

    .timer-wrapper {
      height: calc(100% - 384px);
      width: 128px;
      position: absolute;
      right: 0;
      margin-top: 55vh;
      transform: translateY(-384px);
      z-index: 1;
      pointer-events: none;
    }

    .card-wrapper {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      height: calc(100vh - 352px);
      vertical-align: center;
      min-height: 328px;

      .card {
        margin-top: calc(50vh - 352px);
      }
    }
  }

  .submission {
    background-color: $color-main;
    width: 100vw;
    height: 256px;

    .submission-wrapper {
      display: flex;
      justify-content: space-around;

      .submission-container {
        margin-top: 32px;
        display: flex;

        .textfield {
          margin-right: 16px;
        }

        .button-wrapper {
          height: 48px;
          transform: translateY(76px);
          width: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card {
    transform: translateY(-64px);
  }

  .story {
    height: calc(60vh - 96px) !important;
  }

  .submission {
    height: 40vh !important;
    overflow: hidden !important;
  }

  .button-wrapper {
    transform: none !important;
    width: auto !important;
    height: auto !important;
    margin-top: 8px;
  }
}

@media screen and (max-width: 800px) {
  .timer-wrapper {
    margin-top: 32px !important;
    right: auto !important;
    left: 50vw;
    top: 480px;
    transform: translate(-32px, -384px) !important;
  }

  .card-wrapper {
    transform: translateY(192px) !important;
  }

  .card {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 620px) {
  .submission-container {
    display: initial !important;
  }
}

@media screen and (max-height: 760px) {
  .card {
    margin-top: 32px !important;
  }

  .timer-wrapper:has(app-timer:has(.horizontal)) {
    margin-top: 420px !important;
  }
}

@media screen and (max-height: 650px) {
  .card {
    margin-top: 0 !important;
  }

  .timer-wrapper {
    margin-top: 384px !important;
  }
}
