<div class="content">
  <div class="section">
    <h2>The Story</h2>
    <div class="card-wrapper">
      <app-card size="large" color="inverted" class="card">
        {{ story }}
      </app-card>
    </div>
    <app-button
      size="large"
      color="success"
      mobile="full"
      (click)="scrollToSummary()"
      >continue</app-button
    >
  </div>

  <div class="section" #summary>
    <div class="summary-wrapper">
      <div class="summary">
        <div *ngFor="let participant of participantsSorted" class="participant">
          <h4 class="username text">{{ participant.username }}</h4>
          <h4 class="points text">{{ participant.points }}</h4>
        </div>
      </div>
    </div>
    <app-button size="large" color="success" mobile="full" (click)="goToHome()"
      >end</app-button
    >
  </div>
</div>
