<app-loader *ngIf="loading"></app-loader>
<app-submission
  *ngIf="gameState === 'submitting' && !loading"
  [lobby]="lobby"
  [story]="story"
  (submit)="submitSentence($event)"
  (tick)="tick($event)"
></app-submission>
<app-submissions-view
  *ngIf="(gameState === 'evaluating' || gameState === 'evaluated') && !loading && !submissionsViewed"
  [round]="currentRound"
  [lobby]="lobby"
></app-submissions-view>
<app-winner-view
  *ngIf="gameState === 'evaluated' && !loading && submissionsViewed"
  [round]="currentRound"
  [lobby]="lobby"
></app-winner-view>
