<app-loader *ngIf="loading || isWaitingForEvaluation"></app-loader>
<app-submission
  *ngIf="
    gameState === LobbyState.SUBMITTING && !loading && !isWaitingForEvaluation
  "
  [lobby]="lobby"
  [story]="story"
  (submit)="submitSentence($event)"
  (tick)="tick($event)"
></app-submission>
<app-submissions-view
  *ngIf="gameState === LobbyState.EVALUATED && !loading && !submissionsViewed"
  [round]="currentRound"
  [lobby]="lobby"
  (submissions-viewed)="showWinner()"
></app-submissions-view>
<app-winner-view
  *ngIf="gameState === LobbyState.EVALUATED && !loading && submissionsViewed && !showingSummary"
  [round]="currentRound"
  [lobby]="lobby"
  (continue)="showSummary()"
></app-winner-view>
<app-round-summary
  *ngIf="gameState === LobbyState.EVALUATED && !loading && showingSummary"
  [round]="currentRound"
  [lobby]="lobby"
  (next-round)="nextRound()"
></app-round-summary>
