<app-loader *ngIf="loading"></app-loader>
<app-submission
  *ngIf="gameState === 1 && !loading"
  [lobby]="lobby"
  [story]="story"
  (submit)="submitSentence($event)"
  (tick)="tick($event)"
></app-submission>
<app-submissions-view
  *ngIf="(gameState === 2 || gameState === 3) && !loading && !submissionsViewed"
  [round]="currentRound"
  [lobby]="lobby"
></app-submissions-view>
<app-winner-view
  *ngIf="gameState === 2 && !loading && submissionsViewed"
  [round]="currentRound"
  [lobby]="lobby"
></app-winner-view>
