@import "src/app/styles/filters.scss";

.icon {
  height: 48px;
  width: 48px;
  transform: translate(-4px, 2px);
}

.black {
  filter: $color-black-filter;
}

.white {
  filter: $color-white-filter;
}

.primary {
  filter: $color-main-filter;
}

.success {
  filter: $color-success-filter;
}

.danger {
  filter: $color-danger-filter;
}

.error {
  filter: $color-error-filter;
}

@media screen and (max-width: 480px) {
  .icon {
    transform: translate(-4px, 6px) !important;
  }
}
