@import "src/app/styles/colors.scss";

.card {
  font-family: "Silkscreen", cursive;
  font-size: 24px;

  .text {
    right: 12px;
    left: 12px;
    text-align: center;
  }
}

.small {
  width: 384px;
  height: 192px;

  .text {
    width: 360px;
    height: 168px;
    line-height: 192px;
  }
}

.large {
  width: 512px;
  height: 256px;

  .text {
    width: 488px;
    height: 232px;
    line-height: 208px;
  }
}

.primary {
  background-color: $color-main;
  color: $color-white;
}

.inverted {
  background-color: $color-white;
  border: 4px solid $color-main;
  color: $color-main;
}
