@import "src/app/styles/colors.scss";

.toaster {
  max-width: 512px;
  max-height: 96px;
  font-family: "Silkscreen", cursive;
  font-size: 16px;
  color: $color-white;
  border-radius: 4px;
  box-shadow: 6px 6px 6px $color-shadow;
  position: absolute;
  bottom: 32px;
  margin-left: 50vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;

  .content {
    max-height: calc(100% - 32px);
    max-width: 416px;
    overflow-wrap: break-word;
    padding: 16px;
    text-align: center;
  }
}

.visible {
  animation: appear 200ms;
  animation-fill-mode: forwards;
}

.invisible {
  animation: disappear 200ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.primary {
  background-color: $color-main;
}

.inverted {
  background-color: $color-white;
  color: $color-main;
}

.success {
  background-color: $color-success;
}

.danger {
  background-color: $color-danger;
}

.error {
  background-color: $color-error;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
