<div class="content">
  <div class="leave-btn-wrapper">
    <app-button class="leave-btn" color="error" size="medium">Leave</app-button>
  </div>
  <h3 class="title">Username's Lobby</h3>
  <div class="story-wrapper">
    <div class="story-container">
      <p class="story">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</p>
    </div>
  </div>
  <div class="participants-wrapper">
    <div class="participants-container">
      <div class="participants">
        <h5 class="participants-title">participants</h5>
        <h5 class="participants-amount">2 / 4</h5>
        <div class="participants-grid">
          <div class="participant-wrapper">
            <div class="participant">
              <h5 class="participant-name">test</h5>
            </div>
          </div>
          <div class="participant-wrapper">
            <div class="participant">
              <h5 class="participant-name">test</h5>
            </div>
          </div>
          <div class="participant-wrapper">
            <div class="participant">
              <h5 class="participant-name">test</h5>
            </div>
          </div>
          <div class="participant-wrapper">
            <div class="participant">
              <h5 class="participant-name">test</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
