<div class="center login" *ngIf="!isLoading">
  <h2 class="title">Login</h2>
  <form name="register">
    <div class="label">
      <label class="text" for="email">Email:</label><br />
      <app-textfield type="email" id="email" name="email" placeholder="email" #email></app-textfield>
    </div>
    <br />
    <div class="label">
      <label class="text" for="password">Password:</label><br />
      <app-textfield type="password" id="password" name="password" placeholder="password" #password></app-textfield>
      <br />
    </div>
    <div class="pt-3">
      <app-button (click)="login(email.value, password.value)" size="large">Login</app-button>
    </div>
  </form>
  <h2 class="text link"><a routerLink="/home">I FORGOT MY PASSWORD</a></h2>
  <h2 class="text">NO ACCOUNT YET? <a routerLink="/register">REGISTER</a></h2>
</div>
<app-loader *ngIf="isLoading"></app-loader>
