@import "src/app/styles/colors.scss";

.textfield {
  font-family: "Silkscreen", cursive;
  font-size: 24px;
  border-radius: 4px;
  padding: 0 6px;
  resize: none;
  outline: none;
  box-shadow: inset 2px 2px 6px 0 $color-shadow, 4px 4px 4px $color-shadow;

  &::placeholder {
    color: $color-gray;
  }
}

.small {
  height: 48px;
  width: 256px;
}

.large {
  height: 192px;
  width: 512px;
}

.primary {
  border: 4px solid $color-main;

  &:focus {
    border: 4px solid $color-main-active;
  }
}

.inverted {
  border: 4px solid $color-white;

  &:focus {
    border: 4px solid $color-gray;
  }
}

.error {
  border: 4px solid $color-error;

  &:focus {
    border: 4px solid $color-error-active;
  }
}

.success {
  border: 4px solid $color-success;

  &:focus {
    border: 4px solid $color-success-active;
  }
}

@media screen and (max-width: 620px) {
  .textarea {
    width: 100vw;
    border: none;
    padding: 8px;
    transform: translateX(16px);

    &:focus {
      border: none;
    }
  }
}
