<input
  *ngIf="size === 'small'"
  #textfield
  [type]="type"
  (input)="emitValueChange()"
  class="textfield small"
  [value]="value ? value : ''"
  [placeholder]="placeholder"
  [ngClass]="{
    primary: color === 'primary',
    inverted: color === 'inverted',
    success: color === 'success',
    error: color === 'error'
  }"
/>
<textarea
  *ngIf="size === 'large'"
  #textfield
  class="textfield large textarea"
  (input)="emitValueChange()"
  rows="6"
  cols="20"
  [placeholder]="placeholder"
  [value]="value ? value : ''"
  [ngClass]="{
    primary: color === 'primary',
    inverted: color === 'inverted',
    success: color === 'success',
    error: color === 'error'
  }"
></textarea>
