<div *ngIf="!isOpen && !isLoading">
  <app-card-grid title="Lobbies" [cards]="lobbies">
    <div class="grid">
      <div class="button-container">
        <app-button
          color="success"
          class="relative"
          (click)="createPage()"
          mobile="full"
          >CREATE
        </app-button>
      </div>
      <div class="refresh-container refresh">
        <app-button class="relative" (click)="refresh()" mobile="full"
          >Refresh</app-button
        >
      </div>
    </div>
  </app-card-grid>
</div>
<app-settings *ngIf="isOpen && !isLoading"></app-settings>
<app-loader *ngIf="isLoading"></app-loader>
