<div *ngIf="!isOpen&&!isLoading">
<app-card-grid title="Lobbies" [cards]="Lobbies">
</app-card-grid>
<div class="button-container">
  <app-button
    color="success"
    class="relative"
    (click)="createPage()"
  >CREATE
  </app-button>
</div>
</div>
<div *ngIf="isOpen && !isLoading" class="center">
  <h1 class="text">Lobby Settings</h1>
  <app-textfield placeholder="TOPIC"  #topic></app-textfield>
  <div class="button-container">
    <app-button
      color="success"
      class="relative"
      (click)="createLobby(topic.value)"
    >CREATE
    </app-button>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
