@media only screen and (min-width: 480px) {
  .button-container {
    bottom: 5%;
    right: 5%;
    position: fixed;
    z-index: 1;
  }
  .refresh-container {
    top: 10%;
    right: 5%;
    position: absolute;
    z-index: 1;
  }
}

.refresh {
  margin: 32px 0;
}

.button-container {
  margin-top: 32px;
}
