<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="header">
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a routerLink="/home" class="w3-bar-item w3-button w3-wide">Home</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right">
        <a href="/newGame" class="w3-bar-item w3-button">New Game</a>
        <div class="w3-right">
          <a href="/newGame" class="w3-bar-item w3-button">Sign In</a>
        </div>
      </div>
    </div>
    <div>
      <div style="height: 50px"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
