<div class="grid pt-3 pb-3">
  <div class="col-10 col-offset-1">
    <p class="logo-text flex align-items-center justify-content-center">
      {{ title }}
    </p>
  </div>
</div>
<div class="cont grid">
  <div
    class="xl:col-8 xl:col-offset-2 lg:col-12 lg:col-offset-0 sm:col-12 justify-content-around flex flex-row flex-wrap gap-4 column-gap-4"
  >
    <div class="" *ngFor="let card of cards; let i = index">
      <app-game-lobby-card
        [title-size]="card.titleSize"
        [title]="card.title"
        [color]="card.color"
        [max-players]="card.maxPlayers ? card.maxPlayers : 0"
        [players]="card.players ? card.players : 0"
        [img-src]="card.imgSrc ? card.imgSrc : ''"
        (click)="onCallback(i)"
      >
        {{ card.description }}
      </app-game-lobby-card>
    </div>
  </div>
</div>
