<div class="content">
  <h3 class="winner-text">The Winner is...</h3>
  <div class="username-wrapper">
    <div class="username-box">
      <h5>{{ winnerName }}</h5>
    </div>
  </div>
  <div class="winning-sentence-wrapper">
    <div class="winning-sentence-box">
      <app-card size="large" color="inverted">
        {{ winnerStory }}
      </app-card>
    </div>
  </div>
  <div *ngIf="isHost" class="button-container">
    <app-button
      color="success"
      class="relative"
      size="large"
      (click)="continue()"
      >continue
    </app-button>
  </div>
</div>
