<div class="content">
  <div class="winner-container" *ngIf="winner">
    <h3 class="winner-text">{{ winner.title }}</h3>
    <div class="username-wrapper">
      <div class="username-box">
        <h5>{{ winner.username }}</h5>
      </div>
    </div>
    <div class="winning-sentence-wrapper">
      <div class="winning-sentence-box">
        <app-card size="large" color="inverted">
          {{ winner.story }}
        </app-card>
      </div>
    </div>
  </div>
  <div *ngIf="isHost && showContinue" class="button-container">
    <app-button
      color="success"
      class="relative continue-btn"
      size="large"
      (click)="continue()"
      mobile="full"
      >continue
    </app-button>
  </div>
</div>
