@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

body {
  margin: 0;
}

.center {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.left {
  justify-content: left;
  text-align: left;
  align-items: left;
  margin: auto;
}
