<app-card-grid [cards]="cards" title="Games"> </app-card-grid>
<div class="center gamerules-container">
  <h3 class="title">Play our game :)</h3>
  <p>To play the game you need to <a routerLink="/login">create an account.</a></p>
  <h4 class="title">Create Game</h4>
  <p>When creating a lobby, you can enter one or multiple topics (keywords). </p>
  <p>The AI will generate a story around the given words.</p>
  <p>You can also upload an image, to customize your lobby.</p>
  <h4 class="title">Game rules</h4>
  <p>You have 60 Seconds to submit a sentence.</p>
  <p>The AI will ranke the sentences from best to worst.</p>
  <p>The AI corrects grammar, length, spelling and submissionspeed.</p>
</div>
