<button
  class="button"
  [ngClass]="{
    medium: size === 'medium',
    mini: size === 'mini',
    large: size === 'large',
    primary: color === 'primary',
    inverted: color === 'inverted',
    success: color === 'success',
    mobile: mobileSize === 'full',
    'success-inverted': color === 'success-inverted',
    danger: color === 'danger',
    'danger-inverted': color === 'danger-inverted',
    error: color === 'error',
    'error-inverted': color === 'error-inverted'
  }"
>
  <ng-content></ng-content>
</button>
