.register {
  margin-top: 54px;

  .title {
    margin-bottom: 14px;
  }

  .text {
    font-size: 16px;
  }

  .label {
    align-content: start;
    text-align: start;
  }

  .link {
    margin-bottom: 0;
  }

  .links {
    margin-top: 14px;
  }
}
