<div class="center flex flex-column register" *ngIf="!isLoading">
  <h2 class="title">Register</h2>
  <div class="label flex flex-column align-items-start">
    <label class="text" for="username">Username:</label>
    <app-textfield
      type="text"
      id="username"
      name="username"
      placeholder="username"
      #username
    ></app-textfield>
  </div>
  <div class="label pt-3 flex flex-column align-items-start">
    <label class="text" for="email">Email:</label>
    <app-textfield
      type="email"
      id="email"
      name="email"
      placeholder="email"
      #email
    ></app-textfield>
  </div>
  <div class="label pt-3 flex flex-column align-items-start">
    <label class="text" for="password">Password:</label>
    <app-textfield
      type="password"
      id="password"
      name="password"
      placeholder="password"
      #password
    ></app-textfield>
  </div>

  <app-button
    class="pt-5"
    (click)="register(username.value, email.value, password.value)"
    size="large"
    >Register
  </app-button>
  <div class="links">
    <h2 class="text">ALREADY GOT AN ACCOUNT? <a routerLink="/login">LOGIN</a></h2>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
